<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
    <title>WorkCounter</title>
</head>
<body>
<div id="kontener">
    
    <div id = "nazwa">
        Contact
    </div>

    <div id = "menu">
        <div class="option">
            <a href = "start.html">My Workplaces</a>
        </div>
        <div class="option"> 
            <a href = "statistic.html">Statistic</a>
        </div>
        <div class="option">
            <a href = "settings.html">Settings</a>
        </div>
        <div class="option">
            <a href = "MyAccount.html">My Account</a>
        </div>
        <div class="option">
            <a href = "Contact.html">Contact</a>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div id = "kontakt">
        Your name:</br>
        <input name="name" type="text" placeholder="Full name">
        </br></br>
        Your email:</br>
        <input name="email" type="text" placeholder="email@email.com">
        </br></br>
        Your message:</br>
        <input name="message" type="text" placeholder="" width="300px" height="300px">
        </br></br>
        <button1 type="submit">~SEND~</button1>
    </div>

    

</div>
</body>
</html>