<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
    <title>WorkCounter</title>
</head>
<body>
<div id="kontener">
    
    <div id = "nazwa">
        Settings
    </div>

    <div id = "menu">
        <div class="option">
            <a href = "start.html">MY Workplaces</a>
        </div>
        <div class="option"> 
            <a href = "statistic.html">Statistic</a>
        </div>
        <div class="option">
            <a href = "settings.html">Settings</a>
        </div>
        <div class="option">
            <a href = "MyAccount.html">My Account</a>
        </div>
        <div class="option">
            <a href = "Contact.html">Contact</a>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div id = "SA">
        Your name:</br>
        <input name="name" type="text" placeholder="Full name">
        </br></br>
        Your email:</br>
        <input name="email" type="text" placeholder="email@email.com">
        </br></br>
        New password:</br>
        <input name="password" type="password" placeholder="password">
        </br></br>  
        Confirm password:</br>
        <input name="cpassword" type="password" placeholder="password">
        </br></br>
       

        <button type="button" id="btn">Show work rate!</button>
        
        <div class="response"></div>
        <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>


        <script src="main.js"></script>

     </div>
     <div id="SB">
        <img src="../Public/img/layer2.svg">
        </br>
        Date of birth:</br>
        <input name="birth" type="text" placeholder="01-01-1990">
        </br></br>
        Country:</br>
        <input name="country" type="text" placeholder="Poland">
        </br></br>
        Phone:</br>
        <input name="phone" type="text" placeholder="500500500">
        </br></br>
     </div>
     <div style="clear:both;"></div>


     <div id = "sidebar">
        <button1 type="submit">~SAVE~</button1>
     </div>
     

</div>
</body>
</html>