<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
    <title>WorkCounter</title>
</head>
<body>
<div id="kontener">
    
    <div id = "nazwa">
        Settings
    </div>

    <div id = "menu">
        <div class="option">
            <a href = "start.html">MY Workplaces</a>
        </div>
        <div class="option"> 
            <a href = "statistic.html">Statistic</a>
        </div>
        <div class="option">
            <a href = "settings.html">Settings</a>
        </div>
        <div class="option">
            <a href = "MyAccount.html">My Account</a>
        </div>
        <div class="option">
            <a href = "Contact.html">Contact</a>
        </div>

        <div style="clear:both;"></div>
    </div>

    <div id = "SA">
        Notifications:      ON </br></br>
        Language:           English </br></br>
     </div>
     <div id="SB">
         Version:           1.01 </br></br>
     </div>
     <div style="clear:both;"></div>


     <div id = "SA">
        <button1 type="submit">~HELP~</button1>
     </div>
     <div id="SB">
        <button1 type="submit">~LOGOUT~</button1>
     </div>

</div>
</body>
</html>