<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
    <title>WorkCounter</title>
</head>
<body>
<div id="kontener">
    
    <div id = "nazwa">
        WorkCounter
    </div>

    <div id = "menu">
        <div class="option">
            <a href = "start.html">My Workplaces</a>
        </div>
        <div class="option"> 
            <a href = "statistic.html">Statistic</a>
        </div>
        <div class="option">
            <a href = "settings.html">Settings</a>
        </div>
        <div class="option">
            <a href = "MyAccount.html">My Account</a>
        </div>
        <div class="option">
            <a href = "Contact.html">Contact</a>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div id = "podnazwa">
        My Workplaces <br/>
    </div>

    <div id = "sidebar">
        <img src="../Public/img/dodajprace.svg">
    </div>

    <div id = "W">
        <div class="WW"><img src="../Public/img/Cinema.svg"></div>
        <div class="WW"><img src="../Public/img/Restaurant.svg"></div>
        <div class="WW"><img src="../Public/img/Lesson.svg"></div>
        <div style="clear:both;"></div>
    </div>

</div>
</body>
</html>