<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
    <title>WorkCounter</title>
</head>
<body>
<div id="kontener">
    
    <div id = "nazwa">
        Statistic
    </div>

    <div id = "menu">
        <div class="option">
            <a href = "start.html">MY Workplaces</a>
        </div>
        <div class="option"> 
            <a href = "statistic.html">Statistic</a>
        </div>
        <div class="option">
            <a href = "settings.html">Settings</a>
        </div>
        <div class="option">
            <a href = "MyAccount.html">My Account</a>
        </div>
        <div class="option">
            <a href = "Contact.html">Contact</a>
        </div>
        <div style="clear:both;"></div>
    </div>



    <div id = "AA">
       <img src="../Public/img/Cinema.svg">
        <br/> <br/>
        September: 1257.32 PLN <br/> <br/>
        October: 1629.64 PLN <br/> <br/>
        November: 889.41 PLN <br/> <br/>
        This month: 342.11 PLN <br/> <br/>
    </div>
    <div id="AB">
        <button1 type="submit">~SHOW ALL~</button1>
    </div>
    <div id="AC">
        <img src="../Public/img/graph.svg"></div>

    </div>

</div>
</body>
</html>